<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>About Us</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <script src="{{url_for('static', filename='index.js')}}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <script>
    window.onload=function(){
      setAboutUs()
    }
  </script>
  <div class="sidenav">
    <a href = "/"><img src="https://github.com/JonZavialov/cbeast/blob/master/assets/images/logo.png?raw=true"></a>
    <a href="/">Home</a>
    <a href="/aboutus">About Us</a>
    <a href="/meetings">Meetings</a>
    <a href="https://discord.gg/3VYtKqKmyu">Discord</a>
    <a href="https://github.com/JonZavialov/cbeast" target="_blank">Repository</a>
  </div>
  <div class="main">
    <div id="aboutus">
    </div>
  </div>
</body>
</html>
