<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>CB East Coding</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div class="sidenav">
    <a href = "/"><img src="https://github.com/JonZavialov/cbeast/blob/master/assets/images/logo.png?raw=true"></a>
    <a href="/">Home</a>
    <hr>
    <a href="/aboutus">About Us</a>
    <a href="/meetings">Meetings</a>
    <a href="https://discord.gg/3VYtKqKmyu">Discord</a>
    <a href="https://github.com/JonZavialov/cbeast" target="_blank">Repository</a>
  </div>
  <div class="main">
    <div class="gallery">
      <img class = "gallery-img" src="https://github.com/JonZavialov/cbeast/blob/master/assets/images/school_pic.jpg?raw=true">
      <div class="gallery-content">
        <p class="upper-header">CB East Coding Club</p>
      </div>
    </div>
    <h1>Welcome to CB East coding club!</h1>
    <p>This website is the beginning of our website!<br>Our members will continue to expand this website throughout the year.</p>
    <h2>Meetings</h2>
    <p>Meetings are every monday in Mr.Quinn's room, C203</p>
  </div>
</body>
</html>
