<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>CB East Coding</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="sidenav">
  <a href = "/">Home</a>
  <a href="/aboutus">About Us</a>
  <a href="https://github.com/JonZavialov/cbeast" target="_blank">Repository</a>
</div>
<div class="main">
  <h1>Welcome to CB East coding club!</h1>
  <h2>This website is the beginning of our website!<br>Our members will continue to expand this website throughout the year.</h2>
</div>
</body>
</html>
