<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Meetings</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div class="sidenav">
    <a href = "/"><img src="https://github.com/JonZavialov/cbeast/blob/master/assets/images/logo.png?raw=true"></a>
    <a href="/">Home</a>
    <hr>
    <a href="/aboutus">About Us</a>
    <a href="/meetings">Meetings</a>
    <a href="/slander">Slander</a>
    <a href="https://discord.gg/3VYtKqKmyu">Discord</a>
    <a href="https://github.com/JonZavialov/cbeast" target="_blank">Repository</a>
  </div>
  <div class="main">
    <h1>Meeting 1 board-</h1>
    <img src="https://github.com/JonZavialov/cbeast/blob/master/assets/images/meetings/meeting1.jpg?raw=true" alt="meeting 1" width=800px>
  </div>
</body>
</html>
