
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Slander</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/button.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div class="sidenav">
    <a href = "/"><img src="https://github.com/JonZavialov/cbeast/blob/master/assets/images/logo.png?raw=true"></a>
    <a href="/">Home</a>
    <hr>
    <a href="/aboutus">About Us</a>
    <a href="/meetings">Meetings</a>
    <a href="/slander">Slander</a>
    <a href="https://discord.gg/3VYtKqKmyu">Discord</a>
    <a href="https://github.com/JonZavialov/cbeast" target="_blank">Repository</a>
  </div>
  <div class="body-button">
    <span><a href="https://cbsouthcoding.com/" target="_blank"></a></span>
  </div>
</body>
</html>
